/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css del header */
header{
    background-color: rgb(143, 131, 131);
    height: 100px;
}
.encabezado{
    text-align: center;
    font-family: sans-serif; 
    text-decoration: underline;

}
/* Color del fondo del Body */

body{
    background-color: rgb(138, 153, 172);
}

.rank {

width: 720px;
height: 360px;
}

.torneo{
    width: 720px;
    height: 360px;

}

.pie1{

     font-family: sans-serif;
     text-decoration: underline;
}

.pie2{

     font-family: sans-serif;
     text-decoration: underline;
}

footer{
    background-color: antiquewhite;

    text-align: center ;
}

.yt{
    width: 50px ;
    height:50px ;

}
.ds{
    width: 50px ;
    height:50px ;

}

.ig{
    width: 50px ;
    height:50px ;


}

.twt{
    width: 50px ;
    height:50px ;

}

.rankjug{
    width: 300px;
    height: 240px;

}

h3{
    font-family: sans-serif; 
    text-decoration: underline;
}

.torneo{
    width: 500px;
    height: 420px;
}

.titutitu{
font-family: sans-serif; 
text-decoration: underline;

}