/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css del header en todas las páginas*/
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    background-color:rgb(47, 48, 51);
    color: whitesmoke;
    height: 80px;
}
a{
    color: whitesmoke;
    text-decoration: underline;
}

.nav-left {
    display: flex;
    gap: 10px; 
}

.title {
    position: absolute;
   left: 40%;
 }


.encabezado{

    text-align: center;
    font-family: sans-serif; 
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(37, 38, 41);
    display: flex;
    flex-direction: column;
}

footer{
    background-color:rgb(47, 48, 51);
    text-align: center ;
    padding: 0;
    margin: 0;
     position: static;
  bottom: 0;
  width: 100%;
    
}

/* Parte de la página principal */
/* Distribución de las imagenes utilizando flex */

main{
  display: flex;
  flex: 1;
  justify-content: center; 
  align-items: center;
  padding: 30px;
  margin: 30px;

}
.secciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img-text {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.img-menu {
  width: 550px;
  height: 450px;
  margin: 0 20px;
  border-color: black;
  border: 10px;
}

.img-text p {
  color: white; 
  font-family: sans-serif;
  font-size: x-large;
  margin-top: 10px; 
}

.img-redes{
    width: 45px;
    height: 45px;
    text-decoration: none;
}


/* Parte de la página del ranking */


.ranking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
}

.jugador img {
    width: 100%; 
    height: 100%;
}

.jugador p {
    margin-top: 8px;
    color: white; 
    font-weight: bold;
    text-align: center;
}


/* Parte de la página de torneos */

.torneo-section {
    margin-bottom: 40px;
}

.torneo-box {
    text-align: center;
    margin-top: 10px;
}

.torneo-box img{
    height: 50%;
    width: 50%;
}

.titulo-torneos{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: larger;
}

/*  Parte CSS del About Us*/

.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.img-abus img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 50%; 
}

.img-abus {
    text-align: center;
}

.img-abus p {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 16px;
}

.presentacion {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    padding: 20px;
}

.presentacion h2 {
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    max-width: 800px; /* limita el ancho para que no se estire demasiado */
}


/* Utilizamos Media Query para poder adaptarlo a celulares y tablet */


/* Media Query para dispositivos moviles */

@media (min-width: 320px) and (max-width: 767px) {
.title{
    font-size: large;
    left: 50%;
    padding-left: 5%;
}


.secciones{
    flex-direction: column;
    align-items: center;
}

.img-menu{
    width: 100%;
    height: auto;
}
}
/* Media Query para tablets */
@media (min-width: 768px) and (max-width: 1024px){
.title{
    font-size: larger;
    left: 50%;
    padding-left: 2%;
}
header{
    height: 100px;
}
    .secciones{
    flex-direction: column;
    align-items: center;
}

.img-menu{
    width: 100%;
    height: auto;
}
}