/* Parte de la página de torneos */

.torneo-section {
    margin-bottom: 40px;
}

.torneo-box {
    text-align: center;
    margin-top: 10px;
}

.torneo-box img{
    height: 50%;
    width: 50%;
}

.titulo-torneos{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: larger;
}