@import "../base/variables";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $Color-principal;
  color: $color-texto;
}
main {
  flex: 1;
  padding: 30px;
  margin: 30px;
}
